<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Education Meeting HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/templatemo-edu-meeting.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/fontawesome.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/owl.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/lightbox.css') }}">
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>


  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <nav class="main-nav">
                      <!-- ***** Logo Start ***** -->
                      <a href="index.html" class="logo">

                          <img src="{{ url_for('static', filename='assets/images/ENSAKHOURIBGA_logo.png') }}" width="100px" height="80px" >

                      </a>
                      <!-- ***** Logo End ***** -->
                      <!-- ***** Menu Start ***** -->
                      <ul class="nav">
                          <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                          <li class="scroll-to-section"><a href="#apply"></a></li>



                          <li class="scroll-to-section"><a href="#courses">Our Courses</a></li>
                          <li class="scroll-to-section"><a href="#contact">Contact Us</a></li>
                      </ul>
                      <a class='menu-trigger'>
                          <span>Menu</span>
                      </a>
                      <!-- ***** Menu End ***** -->
                  </nav>
              </div>
          </div>
      </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="{{ url_for('static', filename='assets/images/course-video.mp4') }} " type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="caption">

              <h2>Welcome to Education</h2>
              <p>Welcome to the Student Attendance System, designed to streamline the attendance tracking process for students across various courses. Our platform aims to simplify the way you record your attendance, ensuring accuracy and efficiency in your academic journey.</a>.</p>
              <div class="main-button-red">
                  <div class="scroll-to-section"><a href="#contact">Contact Us !</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->

  <section class="services">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-service-item owl-carousel">

            <div class="item">
              <div class="icon">
                <a href="/admin_login">

                <img src=" {{ url_for('static', filename='assets/images/service-icon-01.png') }} " alt="">
            </a>
              </div>
              <div class="down-content">
                <h4>Teacher Space</h4>
                <p>Your space to consult the students Dashboard and record presence.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
                <a href="/login_admin222">
                    <img src="{{ url_for('static', filename='assets/images/service-icon-02.png') }}" alt="Description de l'image">
                </a>
              </div>
              <div class="down-content">
                <h4>Admin Space</h4>
                <p>Your Space to add new Students and edit existing ones.</p>
              </div>
            </div>

            <div class="item">
              <div class="icon">
              <a href="/student_login">
                <img src="{{ url_for('static', filename='assets/images/service-icon-03.png  ') }} " alt="">
              </a>
                </div>
              <div class="down-content">
                <h4> Student Space </h4>
                <p>Your Space to consult your profile and your total attendance.</p>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <br><br><br><br>
                    <h2 align="center">Our Courses</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
          <div class="owl-courses-item owl-carousel">



            <div class="item">
              <img src="{{ url_for('static', filename='assets/images/course-01.jpg ') }} " alt="">
              <div class="down-content">
                <h4>Informatique et Ingénierie des Données (IID) <br><br></h4>

                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{ url_for('static', filename='assets/images/course-02.jpg  ') }} " alt="">
              <div class="down-content">
                <h4 >Génie Informatique<br> (GI) <br><br></h4>

                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="{{ url_for('static', filename='assets/images/course-03.jpg ') }}  " alt="">
              <div class="down-content">
                <h4>Génie Electrique <br> (GE)<br><br></h4>

                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src=" {{ url_for('static', filename='assets/images/course-04.jpg') }} " alt="">
              <div class="down-content">
                <h4>Ingénierie des Réseaux Intelligents et Cybersécurité (IRIC)</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <img src="  {{ url_for('static', filename='assets/images/course-03.jpg') }}  " alt="">
              <div class="down-content">
                <h4>Génie des Procédés, de l’Energie et de l’Environnement (GPEE)</h4>
                <div class="info">
                  <div class="row">
                    <div class="col-8">
                      <ul>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                      </ul>
                    </div>
                    <div class="col-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>



              </div>
            </div>
        </div>
    </div>
</section>

  <section class="our-facts">

    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-12">
              <h2>A Few Facts About Our University</h2>
            </div>
            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content ">
                    <div class="count-digit">1409</div>
                    <div class="count-title"> Students</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">56</div>
                    <div class="count-title">teacher-researcher</div>
                  </div>
                </div>
              </div>
            </div>


            <div class="col-lg-6">
              <div class="row">
                <div class="col-12">
                  <div class="count-area-content ">
                    <div class="count-digit">23</div>
                    <div class="count-title"> administrative</div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="count-area-content">
                    <div class="count-digit">2</div>
                    <div class="count-title">laboratories</div>
                  </div>
                </div>
              </div>
            </div>






          </div>
        </div>
        <div class="col-lg-6 align-self-center" >
          <div class="video">
            <a href="https://www.youtube.com/watch?v=HndV87XpkWg" target="_blank"><img src=" {{ url_for('static', filename='assets/images/play-icon.png  ') }} " alt="" style="margin-top: 80px;"></a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-us" id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 align-self-center">
          <div class="row">
            <div class="col-lg-12">
              <form id="contact" action="" method="post">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Contact Us</h2>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="name" type="text" id="name" placeholder="YOURNAME...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                    <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="YOUR EMAIL..." required="">
                  </fieldset>
                  </div>
                  <div class="col-lg-4">
                    <fieldset>
                      <input name="subject" type="text" id="subject" placeholder="SUBJECT...*" required="">
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required=""></textarea>
                    </fieldset>
                  </div>
                  <div class="col-lg-12">
                    <fieldset>
                      <button type="submit" id="form-submit" class="button">SEND MESSAGE NOW</button>
                    </fieldset>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="right-info">
            <ul>
              <li>
                <h6>Phone Number</h6>
                <span>+212618534372</span>
              </li>
              <li>
                <h6>Email Address</h6>
                <span>contact.ensak@usms.ma</span>
              </li>
              <li>
                <h6>Address</h6>
                <span>
Bd Béni Amir, BP 77
Khouribga - Maroc.</span>
              </li>
              <li>
                <h6>Website URL</h6>
                <span>http://ensak.usms.ac.ma</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <p>COPYRIGHT 2021-2024. ENSA KHOURIBGA

        </p>
    </div>
  </section>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src=" {{ url_for('static', filename='assets/js/isotope.min.js  ') }} "></script>
    <script src="{{ url_for('static', filename='assets/js/owl-carousel.js   ') }} "></script>
    <script src=" {{ url_for('static', filename='assets/js/lightbox.js ') }} "></script>
    <script src=" {{ url_for('static', filename='assets/js/tabs.js  ') }} "></script>
    <script src="  {{ url_for('static', filename='assets/js/video.js  ') }} "></script>
    <script src=" {{ url_for('static', filename='assets/js/slick-slider.js ') }} "></script>
    <script src=" {{ url_for('static', filename='assets/js/custom.js  ') }} "></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .responsive-menu, .scroll-to-section').on('click', 'a', function (e) {
          e.preventDefault();
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</body>
</html>